<div class="layout-page-banner news-banner"></div>
<div class="page-container news-container container-fluid" id="newsDetail">
  <div class="container skeleton">
    <div class="news-header">
      <h1 class="news-title skeleton-item mb8"></h1>
    </div>
    <div class="news-extra skeleton-item mt8"></div>
    <div class="news-content">
      <div class="skeleton-item mb8"></div>
      <div class="skeleton-item mb8"></div>
      <div class="skeleton-item mb8"></div>
      <div class="skeleton-item mb8"></div>
      <div class="skeleton-item mb8"></div>
      <div class="skeleton-item mb8"></div>
      <div class="skeleton-item mb8"></div>
      <div class="skeleton-item mb8"></div>
      <div class="skeleton-item mb8"></div>
      <div class="skeleton-item mb8"></div>
      <div class="skeleton-item"></div>
    </div>
  </div>
</div>
<div class="bdsharebuttonbox container" data-bd-bind="1523031410217">
  <a href="#" class="bds_more" data-cmd="more"></a>
  <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
  <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
  <a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a>
  <a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a>
  <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
</div>
<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdPic":"","bdStyle":"0","bdSize":"16"},"share":{},"image":{"viewList":["qzone","tsina","tqq","renren","weixin"],"viewText":"分享到：","viewSize":"16"},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["qzone","tsina","tqq","renren","weixin"]}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>

<script type="text/template" id="news-tpl">
<div class="container">
  <div class="news-header">
    <h1 class="news-title">{{title}}</h1>
  </div>
  <div class="news-extra">
    <span>发布时间: {{createDate}}</span>
    <span>发布人: {{createUserName}}</span>
    <span>分类: {{typeName}}</span>
  </div>
  <div class="news-content">
    {{details}}
  </div>
</div>
</script>


